

<!-- <div id="divv">
  <h1 class="header">Flavour's Chef</h1>
  <br><br>
  <app-selezione img="../../assets/table.svg" nome="Prenotazione tavolo" azione="cambiaPagina" pagina="prenotazione"></app-selezione>
  <br><br>
  <app-selezione img="../../assets/command.svg" nome="Ordinazione piatti" azione="cambiaPagina" pagina="ordinazione"></app-selezione>
  <br><br>
  <app-selezione img="../../assets/penpaper.svg" nome="Prenotazione tavolo e piatti" azione="cambiaPagina" pagina="prenotazione" [tipo]=false></app-selezione>
  <br><br>
  <app-selezione img="../../assets/takeaway.svg" nome="Ordinazione da asporto" azione="cambiaPagina" pagina="asporto"></app-selezione>
</div> -->
<div id="divv">
  <div class="content">
    <h1 class="header">Flavour's Chef</h1>
    <br><br>
      <app-selezione img="../../assets/table.svg" nome="Prenotazione tavolo" azione="cambiaPagina" pagina="prenotazione"></app-selezione>
      <app-selezione img="../../assets/command.svg" nome="Ordinazione piatti" azione="cambiaPagina" pagina="ordinazione"></app-selezione>
      <app-selezione img="../../assets/penpaper.svg" nome="Prenotazione tavolo e piatti" azione="cambiaPagina" pagina="tavpiatti"></app-selezione>
      <app-selezione img="../../assets/takeaway.svg" nome="Ordinazione da asporto" azione="cambiaPagina" pagina="asporto"></app-selezione>
      <app-selezione img="../../assets/takeaway.svg" nome="Amministrazione" azione="cambiaPagina" pagina="login"></app-selezione>
  </div>
</div>


  