#divv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.header {
  text-align: center;
  color: #ef8103;
  font-size: 60px;
  margin-top: 10px;
  font-family: STHupo;
  text-shadow: 2px 2px 2px #000;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

#divv {
  text-align: center;
  position: relative;
}

.header {
  text-align: center;
  color: #ef8103;
  font-size: 60px;
  margin-top: 10px;
  font-family: STHupo;
  text-shadow: 2px 2px 2px #000;
}

.bubbles {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  position: absolute;
  z-index: -2;
}

.bubbles span {
  width: 20px;
  height: 20px;
  background: #ef8103;
  margin: 0 4px;
  border-radius: 50%;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(-50vh) scale(0);
  }
  100% {
    transform: translateY(50vh) scale(1);
  }
} */

