
<!-- <div class="container">
  <div class="bubbles">
    <span style="--i:11;"></span>
    <span style="--i:23;"></span>
    <span style="--i:15;"></span>
    <span style="--i:27;"></span>
    <span style="--i:13;"></span>
    <span style="--i:21;"></span>
    <span style="--i:16;"></span>
    <span style="--i:24;"></span>
    <span style="--i:14;"></span>
    <span style="--i:28;"></span>
    <span style="--i:17;"></span>
    <span style="--i:11;"></span>
    <span style="--i:13;"></span>
    <span style="--i:23;"></span>
    <span style="--i:15;"></span>
    <span style="--i:27;"></span>
    <span style="--i:13;"></span>
    <span style="--i:21;"></span>
    <span style="--i:16;"></span>
    <span style="--i:24;"></span>
    <span style="--i:14;"></span>
    <span style="--i:28;"></span>
    <span style="--i:17;"></span>
    <span style="--i:23;"></span>
    <span style="--i:19;"></span>
    <span style="--i:11;"></span>
    <span style="--i:23;"></span>
    <span style="--i:15;"></span>
    <span style="--i:27;"></span>
    <span style="--i:11;"></span>
    <span style="--i:23;"></span>
    <span style="--i:15;"></span>
    <span style="--i:27;"></span>
    <span style="--i:13;"></span>
    <span style="--i:21;"></span>
    <span style="--i:16;"></span>
    <span style="--i:24;"></span>
    <span style="--i:14;"></span>
    <span style="--i:28;"></span>
    <span style="--i:17;"></span>
    <span style="--i:11;"></span>
    <span style="--i:13;"></span>
    <span style="--i:23;"></span>
    <span style="--i:15;"></span>
    <span style="--i:27;"></span>
    <span style="--i:13;"></span>
    <span style="--i:21;"></span>
    <span style="--i:16;"></span>
    <span style="--i:24;"></span>
    <span style="--i:14;"></span>
    <span style="--i:28;"></span>
    <span style="--i:17;"></span>
    <span style="--i:23;"></span>
    <span style="--i:19;"></span>
    <span style="--i:11;"></span>
    <span style="--i:23;"></span>
    <span style="--i:15;"></span>
    <span style="--i:27;"></span>
  </div> -->
  <div id="divv">
    <h1 class="header">Flavor's Chef</h1>
    <br><br>
    <app-selezione img="../../assets/table.svg" nome="Prenotazione tavolo" azione="cambiaPagina" pagina="prenotazione"></app-selezione>
    <br><br>
    <app-selezione img="../../assets/command.svg" nome="Ordinazione piatti" azione="cambiaPagina" pagina="ordinazione"></app-selezione>
    <br><br>
    <app-selezione img="../../assets/penpaper.svg" nome="Prenotazione tavolo e piatti" azione="cambiaPagina" pagina="prenotazione" [tipo]=false></app-selezione>
    <br><br>
    <app-selezione img="../../assets/takeaway.svg" nome="Ordinazione da asporto" azione="cambiaPagina" pagina="asporto"></app-selezione>
  </div>
<!-- </div> -->

  