<div id="divv">

<app-selezione nome="Prenotazione tavolo" azione="cambiaPagina" pagina="prenotazione" img="../../assets/house.svg"></app-selezione>
<br><br>
<app-selezione nome="Ordinazione piatti" azione="cambiaPagina" pagina="ordinazione" ></app-selezione>
<br><br>
<app-selezione nome="Prenotazione tavolo e piatti" azione="cambiaPagina" pagina="prenotazione" [tipo]=false></app-selezione>
<br><br>
<app-selezione nome="Ordinazione da asporto" azione="cambiaPagina" pagina="asporto"></app-selezione>

</div>