<div class="container">
    <div class="left-column">
        <div class="content">
        <app-selezione img="../../assets/house.svg" nome="Administration" azione="cambiaPagina" pagina="admin" stile="button-admin"></app-selezione>
        <div class="toggle-container">
            <h2 class="header">Prenotazioni</h2>
            <br>
            <label for="toggle-switch" class="font-p">Asporto:</label>
            <input type="checkbox" id="toggle-switch" (change)="toggleSpecialFunction($event)">
        </div>
            <br><br>
            <div *ngFor="let reservation of reservations">
                <button type="button" (click)="selectReservation(reservation.email)" class="small-button">{{ reservation.email }}</button>
            </div>
        </div>
    </div>

    <div class="right-column">
        <div class="content">
            <h2 class="header">Ordini per {{ selectedEmail }}</h2>
            <br><br>
            <div *ngIf="selectedEmail">
                <div *ngIf="orders.length > 0">
                    <ul>
                        <li *ngFor="let order of orders">
                            <p class="font-p">{{ order.piatto }} - Quantità: {{ order.quantita }}</p>
                        </li>
                    </ul>
                </div>
                <div *ngIf="orders.length === 0">
                    <p class="font-p">Nessun ordine disponibile per {{ selectedEmail }}.</p>
                </div>
            </div>
            <div *ngIf="!selectedEmail">
                <p class="font-p">Seleziona un'email per visualizzare gli ordini.</p>
            </div> 
        </div>
    </div>

    

</div>
