<div id="divv">
    <app-selezione img="../../assets/house.svg" nome="Home" azione="cambiaPagina" pagina="home"></app-selezione> <br><br>

    <form #form="ngForm" (ngSubmit)="menu()">
        <div class="form-group">
            <label for="Email">Email  </label>  <input class="custom-textfield" type="text" name="Email" [(ngModel)]="email" required><br><br>
        </div>

        <div class="form-group">
            <label for="Data">Data  </label>    <input placeholder="data" class="custom-textfield" type="date" name="Data" [(ngModel)]="data" required><br><br>
        </div>

        <div class="form-group">
            <button type="submit"><img src="../../assets/send.svg">Invia</button>
        </div>
    </form>
</div>