<div id="divv">
    <app-selezione img="../../assets/house.svg" nome="Home" azione="cambiaPagina" pagina="home"></app-selezione> 

    <form #form="ngForm" (ngSubmit)="ordina()">
        <div class="form-group">
            <label for="Email">Email  </label>  <input class="custom-textfield" type="text" name="Email" [(ngModel)]="email" required>
        </div>

        <div class="form-group">
            <button type="submit"><img src="../../assets/send.svg">Invia</button>
        </div>

    </form>

</div>