<app-selezione nome="Home" azione="cambiaPagina" pagina="home"></app-selezione> <br><br>
<h2>FUNZIA</h2>

<form (ngSubmit)="addToOrder()">
    <select (change)="onDishChange($event)">
        <option *ngFor="let dish of dishes" [value]="dish.id">{{ dish.nome }}</option>
    </select>
    <button type="submit">Invia</button>
</form>




<div class="ordered-dishes">
    <h2>Ordered Dishes</h2>
    <ul>
      <li *ngFor="let dish of orderedDishes">{{ dish.nome }}
        <button (click)="removeFromOrder(dish)">Rimuovi</button>
      </li>
    </ul>
</div>
   